@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Software Developer`s Journal UserMedia and WebRTC Demo</h1>
        </hgroup>
        <p>
            This is a simple demo application showcasing
            <a href="http://www.w3.org/TR/mediacapture-streams/" title="Media Capture and Streams">Media Capture and Streams</a>
            and
            <a href="http://www.webrtc.org/" title="WebRTC">WebRTC</a>
            technologies. It has been created for article in
            <a href="http://sdjournal.pl/" title="Software Developer`s Journal">Software Developer`s Journal</a>.
        </p>
    </div>
</section>
}
<h3>Contents:</h3>
<ol class="round">
    <li class="one">
        <h5>Echo</h5>
        An "echo" page which streams media from your camera and microphone to the video element.
    </li>
    <li class="two">
        <h5>Chat</h5>
        A video chat between two users connected to the application.
    </li>
</ol>
